<%= simple_form_for(@recipe) do |f| %>	
<%= f.input :name %>
<%= f.input :prep_time %>
<%= f.input :cooking_time%>
<%= f.input :serves %>
<br><br>


  <h3>Ingredients</h3>
      <%= f.simple_fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
        <% end %>
     <div class="links">
        <%= link_to_add_association 'Add Ingredient', f, :ingredients %></div>

<br>

  <h3>Directions</h3>
    <%= f.simple_fields_for :directions do |direction| %>
      <%= render 'direction_fields',f: direction %>
        <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Step' , f, :directions %></div>

<br>

    <%= f.submit %>
    
    <% end %>


