<h1>Signup!</h1>

<%= form_for @user do |f| %>
  <%= render 'users/errors', form: @user %>
   <div class="form-group">	
    <%= f.label :email,"Email" %>	
    <br>	
    <%= f.email_field :email, class: "form-control" %>	
   </div>	
   <div class="actions">	
     <%= f.label :password, "Password" %>	
    <br>	
    <%=f.password_field :password,class: "form-control"%>
    </div>	
   <div class="actions">	
    <%= f.submit class: "btn btn-primary" %>	
  </div>	
 <% end %> 
 <br>
<p><%= link_to "Singup with Github", "/auth/github"%><p>

  