<h1>Signup!</h1>

<%= form_for @user do |f| %>
  <%= render 'users/errors', form: @user %>
   <div class="form-group">	
    <%= f.label :email,"Email" %>	
    <br>	
    <%= f.email_field :email, class: "form-control" %>	
   </div>	
   <div class="actions">	
    <br/>	
    <%= f.submit class: "btn btn-primary" %>	
  </div>	
 <% end %> 
<%= link_to "Singup with Github", "/auth/github"%>

  