<p id="notice"><%= notice %></p>	
    <% if flash[:message] %>	
    <div class="center alert">	
    <p><%= flash[:message] %></p>	
    </div>	
        <% end %>	    
    <div class="center">	
   <div class="info">	
    <p><strong>Name:</strong> <%= @user.name %></p>	

    <p>My Recipes:</p>
    <% @user.recipes.each do |recipe| %>
    <div><%= recipe.name%></div>
    <% end %>
    <p><%= link_to 'View Recipes', user_recipes_path %></p>	
  </div>	
</div> 

