      <!DOCTYPE html>
<head>
<title>Recipe App</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</body>
<nav class="navbar navbar-default">
  <div class="container"></div>
  <span class="icon-bar"></span>	            
          </button>	        
          <a class="navbar-brand" href="<%= root_url %>">Home</a>
            <% if user_signed_in? %>
        <%= link_to "New Recipe", new_recipe_path, class:"navbar-brand" %> <%= link_to "Sign Out", destroy_user_session_path, class:"navbar-brand",method: :delete  %></li>  
            <% else %>
           <a class="navbar-brand" href="<%= new_user_registration_path %>">Sign Up</a>
            <%= link_to "Sign In", new_user_session_path, class:"navbar-brand" %>
        </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav"></ul>
     <% end %>
     </div>
     </nav>

<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert" %>
  <% end %>
</div>
              <%= yield %>
  </body>
</html>
